# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual environments
env/
venv/
ENV/
.venv
.Python

# macOS
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# Coverage reports
.coverage
*.cover

archive/


figures/

directed_model/data/
directed_model/results/

integrative_model/data/
integrative_model/checkpoints/